.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}

.icon-link > .bi {
  margin-top: .125rem;
  margin-left: .125rem;
  fill: currentcolor;
  transition: transform .25s ease-in-out;
}
.icon-link:hover > .bi {
  transform: translate(.25rem);
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: .75rem;
}

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.feature-icon-small {
  width: 3rem;
  height: 3rem;
}
.display-4 {
  font-size: 2em;
}
.card {
  margin-bottom: 20px;
}

.row [class^="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}
.text__text {
margin: 0 auto;
}
.px-4 {
  padding-right: 1.5rem!important;
  padding-left: 1.5rem!important;
}   

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.accordion-item {
  margin-bottom: 15px;
}
.accordion-item {
  border-radius: 20px;
}
.text__text {
    white-space: normal;
    margin-left: 15rem;
    margin-right: 15rem;
}